**Name**: Zain Ul Abideen

**Registeration**: FA20-BSE-059


---



**Activity 1:** Display numbers on screen using Python IDLE.

In [ ]:
print(4321,4.55,343+1)

4321 4.55 344

**Activity 2:** Display strings on screen.

In [ ]:
print('''Asalamu Alikum
I am an alien
invading earth''')

Asalamu Alikum
I am an alien
invading earth

**Activity 3:** Use Python as a calculator.

In [ ]:
print(22/2)
print(4.1+2.2)
print(23.4 / 3.1)
print(2.5 * 2.5)
print(8-12)
print(2**2)

11.0
6.3
7.548387096774193
6.25
-4
4

**Activity 4:** Get an integer answer from division operation. Also get remainder of a division operation in the output.

In [ ]:
print( 26 / 4 )
print( 26 // 4 )
print(int(26 / 4))
print(26 % 4)
print(28 % 4)

6.5
6
6
2
0

**Activity 5:**
Calculate 4^3, 4^10, 4^29, 4^150, 4^1000

In [ ]:
print(4**3)
print(4**10)
print(4**29)
print(4**150)
print(4**1000)

64
1048576
288230376151711744
2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376
114813069527425452423283320117768198402231770208869520047764273682576626139237031385665948631650626991844596463898746277344711896086305533142593135616665318539129989145312280000688779148240044871428926990063486244781615463646388363947317026040466353970904996558162398808944629605623311649536164221970332681344168908984458505602379484807914058900934776500429002716706625830522008132236281291761267883317206598995396418127021779858404042159853183251540889433902091920554957783589672039160081957216630582755380425583726015528348786419432054508915275783882625175435528800822842770817965453762184851149029376

**Activity 6:**
Write following math expressions. Solve them by hand using operatorsâ€™ precedence.
Calculate their answers using Python. Match the results.

In [ ]:
print(2+3*6)
print((2+3)*6)
print(48565878 * 578453)
print(2    +   2)
print((5 - 1) * ((7 + 1) / (3 - 1)))
print(42 + 5 ** 2)

20
30
28093077826734
4
16.0
67

**Activity 7:**
Combine numbers and text.

In [ ]:
name = 'Zain'
roll_no = 59
print(name +'  '+ str(roll_no))
statement = 'I am Zain and I have registered as %r' %roll_no
print(statement)

Zain  59
I am Zain and I have registered as 59

**Activity 8:**
Take input from the keyboard and use it in your program.

In [ ]:
name = input('Enter your name: ')
print('Hi  ' + name)
num = input('Enter a number: ')
print('You entered ' + num)

Enter your name: Zain
Hi  Zain
Enter a number: 78
You entered 78

**Activity 9:**Let us take an integer from user as input and check whether the given value is even or not.

In [ ]:
Num = input('Enter a number')
if int(num)%2 == 0:
  print('it is an even number')

Enter a number10
it is an even number

**Activity 10:**
Let us modify the code to take an integer from user as input and check whether the given value is even or odd. If the given value is not even then it means that it will be odd. So here we need to use if-else statement an demonstrated below.

In [ ]:
num = input('Enter a number: ')
if int(num)%2 == 0:
  print('You entered an even number')
else:
  print('You entered a odd number')

Enter a number: 8
You entered an even number

**Activity 11:**

Calculate the sum of all the values between 0-10 using while loop.

In [ ]:
sum = 0
i = 0;
while i <= 10:
  sum += i
  i = i+1
print(sum)

55

**Activity 12:**
Accept 5 integer values from user and display their sum. Draw flowchart before coding in python.

In [ ]:
i = int(0)
sum = 0
while i<5 :
  num = int(input('Enter a number: '))
  sum = int(sum + num)
  i = i + 1
print(sum)

Enter a number: 1
Enter a number: 2
Enter a number: 2
Enter a number: 1
Enter a number: 1
7

**Activity 13:**
Write a Python code to keep accepting integer values from user until 0 is entered. Display sum of the given values.

In [ ]:
sum = int(0)
num = int(-1)
while num != 0:
  num = int(input('Enter a number'))
  sum += num
print(sum)

Enter a number2
Enter a number3
Enter a number1
Enter a number0
6

**Activity 14:**
Write a Python code to accept an integer value from user and check that whether the given value is prime number or not.

In [ ]:
num = int(input('Enter a number: '))
limit = int(num/2)
divider = 2
Isprime = bool(True)
while divider != limit:
  if(num % divider == 0):
    print('the number is not prime')
    Isprime = False
    break
  else:
    divider = divider + 1
if Isprime:
  print('The is a prime number')

Enter a number: 13
The is a prime number

**Activity 15:** Write a Python code to accept marks of a student from 1-100 and display the grade according to the following formula.

In [ ]:
num = int(input('Enter a number: '))
if ( num < 50):
 print('fail')
elif (num < 61):
 print('E')
elif (num < 71):
 print('D')
elif (num < 81):
 print('C')
elif (num < 91):
 print('B')
elif (num <= 100):
  print('A')

Enter a number: 74
C

**Activity 16:**
Write a program that takes a number from user and calculate the factorial of that number.

In [ ]:
num = int(input('Enter a number: '))
i = int(1)
fact= int(1)
while i <= num:
  fact = fact*i
  i = i+1
print(fact)

Enter a number: 5
120