<a href="https://colab.research.google.com/github/its-zain-ul-abideen/Aritificial-Intelligence/blob/main/lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name**: Zain Ul Abideen 

**Registeration**: FA20-BSE-059


---

**Activity 1:**
Use loops to accept 5 values from user and store them in a list. Display all the values (objects) of the list.

In [ ]:
listt = []
for i in range(5):
  val = input("Enter a value: ")
  listt.append(val)
print("listt: " + str(listt))

Enter a value: 52
Enter a value: 56
Enter a value: 43
Enter a value: 78
Enter a value: 67
listt: ['52', '56', '43', '78', '67']

**Activity 2:**
Repeat the above code by accepting 5 integer values from user. Store these values in a list and display the sum of given values.

In [ ]:
intlistt=[]
for i in range(5):
  num = int(input("Enter the number: "))
  intlistt.append(num)
sum = 0
for i in intlistt:
  sum += i
print(sum)

Enter the number: 1
Enter the number: 2
Enter the number: 3
Enter the number: 1
Enter the number: 1
8

In [ ]:
intlistt=[]
for i in range(5):
  num = int(input("Enter the number: "))
  intlistt.append(num)
value = int(input('Provide a value: '))
index = int(-1)
for i in intlistt:
  index = index + 1
  if value == i:
    print("The index is: " + str(index))
    break

Enter the number: 45
Enter the number: 65
Enter the number: 76
Enter the number: 34
Enter the number: 2
Provide a value: 76
The index is: 2

**Activity 3:**
Accept 5 integer values from user. Store these values in a list and display the list in ascending order.

In [ ]:
listt = []
for i in range(5):
  num = int(input('Enter a number: '))
  listt.append(num)
listt.sort()
print(listt)
print(max(listt))
print(min(listt))

Enter a number: 45
Enter a number: 23
Enter a number: 64
Enter a number: 85
Enter a number: 36
[23, 36, 45, 64, 85]
85
23


**Activity 4:**

Accept two lists from user and display their join.

In [ ]:
list1 = []
list2 = []
print("values for list 1")
for i in  range(5):
  num = int(input("Enter: "))
  list1.append(num)
for i in range(5):
  num = int(input("Enter: "))
  list2.append(num)
list3 = list1 + list2
print(list3)

values for list 1
Enter: 23
Enter: 54
Enter: 76
Enter: 45
Enter: 3
Enter: 65
Enter: 76
Enter: 34
Enter: 76
Enter: 365
[23, 54, 76, 45, 3, 65, 76, 34, 76, 365]

**Activity 5:**
Write a Python code to accept a list from user and find a required element in it.

In [ ]:
list1 = []
for i in range(5):
  num = int(input("Enter a number: "))
  list1.append(num)
N = int(input("Enter the value to find: "))
found = N in list1
if found==True:
  print("Value found")
else:
  print("Value not found")

Enter a number: 54
Enter a number: 76
Enter a number: 36
Enter a number: 85
Enter a number: 38
Enter the value to find: 24
Value not found

**Activity 6:**
Write a function called say_hello that takes in a person’s name as a parameter. The function should print a greeting message with the person’s name. Then call the function three times with three different names.

In [ ]:
def callout (name):
  print("Hello  " + name)

for i in range(3):
  name = input("Enter your name: ")
  callout(name)

Enter your name: Zain
Hello  Zain
Enter your name: Ahmad
Hello  Ahmad
Enter your name: Taha
Hello  Taha

In [ ]:
c = []
c.append([0,1,0])
c.append([1,0,0])
c.append([0,0,1])
print(c)

[[0, 1, 0], [1, 0, 0], [0, 0, 1]]

**Activity 7:** Write a function in python that receives a string and returns True if that string is a palindrome and False otherwise. Remember that difference between upper and lower case characters are ignored during this determination.

In [ ]:
def palindrome(word):
  temp = word[::-1]
  if temp.capitalize() == word.capitalize():
    print("The word is palindrome")
  else:
    print("word is not palindrome")
palindrome("MAM")
palindrome("DADA")

The word is palindrome
word is not palindrome

**Activity 8:**

Imagine two matrices given in the form of 2D lists as under;


a = [[1, 0, 0], [0, 1, 0], [0, 0, 1] ]

b = [[1, 2, 3], [4, 5, 6], [7, 8, 9] ]


Write a python code that finds another matrix/2D list that is a product of and b, i.e.,

C=a*b

In [ ]:
a = [[1, 0, 0], [0, 1, 0], [0, 0, 1] ]
b = [[1, 2, 3], [4, 5, 6], [7, 8, 9] ]
c= []
for i in range(3):
  c.append([])
  for j in range(3):
    c[i].append(0)
    for k in range(3):
      c[i][j] += a[i][k]*b[k][j]
for i in c:
  print(i);

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

**Activity 9**
Calculate the perimeter of the plygon with given coordinates

In [ ]:
def perimeter(listing):
  leng= len(listing)
  perimeter = 0
  for i in range(0,leng-1):
    dist = (((listing[i][0]-listing[i+1][0])**2)+((listing[i][1]-listing[i+1][1])**2))**0.5
    perimeter = perimeter + dist
  perimeter = perimeter + (((listing[0][0]-listing[leng-1][0])**2)+((listing[0][1]-listing[leng-1][1])**2))**0.5
  return perimeter
L=[(1,3),(2,7),(3,9),(-1,8)]
print(perimeter(L))

15.867444035869614

**Activity 10**:
Symmetric difference

In [1]:
def symmdiff(a,b):
  e = set()
  for i in a:
    if i not in b:
      e.add(i)
  for i in b:
    if i not in a:
      e.add(i)
  return e
set1 = {0,1,2,4,5}
set2 = {4,5,7,8,9}
print(symmdiff(set1,set2))

print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))
print(set1^set2)
print(set2^set2)

{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
set()

**Activity 11:**
Create a Python program that contains a dictionary of names and phone numbers. Use a tuple of separate first and last name values for the key field. Initialize the dictionary with at least three names and numbers. Ask the user to search for a phone number by entering a first and last name. Display the matching number if found, or a message if not found.

In [3]:
sample = {('Sohaib','Anwar'):'04233443245',('Ahsan','Sohaib'):'03402234'}
firstname = input("Enter first name:")
secondn = input("Enter second name")
searchtuple = (firstname,secondn)
if searchtuple in sample:
  print(sample[searchtuple])

Enter first name:Ahsan
Enter second nameSohaib
03402234